page-list {

}
ion-img {
  object-fit: cover
}

ion-icon{
  margin: 0px;
  padding: 0px;
}

.noSpace{
  margin: 0px;
  padding: 0px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.noco{
  height: 100px;
}
