page-home {
  h3{
    text-align: center;
  }

  #button{
    background-color: rgb(0, 164, 187);
    margin: auto;
    display: block;
    border-radius: 10px;

  }

  #buttonn{
    background-color: rgb(92, 174, 62);
    margin: auto;
    display: block;
    border-radius: 10px;

  }

  #buttonnn{
    background-color: rgb(153, 60, 132);
    margin: auto;
    display: block;
    border-radius: 10px;

  }

  img{
    margin: auto;
    display: block;

  }

}
